body {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    background-color: #bbb;
}

header {
    border-bottom: 1px solid #bbb;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: darkslateblue;
    text-decoration: none;
}

.nav {
    background-color: navy;
    overflow: hidden;
    padding-top: 2rem;
    width: 100%;
}

.nav a {
    float: right;
    display: block;
    color: #bbb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: navy;
    color: #888;
}

.topnav a.active {
    background-color: blue;
    color: #ddd;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

a {
    color: #888;
    text-align: center;
}

a:visited {
    color: #bbb;
}

p {
    color: darkslateblue;
}

h1 {
    color: darkslateblue;
}