<!-- templates/base.html-->
{% load static %}
<html>
    <head>
        <title>EventGearSauce</title>
        <link href="https://fonts.googleapis.com/css?family=Kanit:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
<header>
    <a href="{% url 'home' %}">&nbsp Home &nbsp</a>
    <a href="{% url 'about' %}">&nbsp About Us &nbsp</a>
    <a href="{% url 'contact' %}">&nbsp Contact Us &nbsp</a>
</header>

{% block content %}{% endblock content %}