<!-- templates/equipment_stock_list.html-->
{% extends "base.html"%}

{% block content %}
<h1>Equipment available for hire</h1>
<br />
<ul>
{% for EquipmentStock in object_list %}
    <li>
        <div class="item-entry">
            <h2><a href="{% url 'equipment_stock_detail' EquipmentStock.pk %}">{{ EquipmentStock.model_name }}</a></h2>
            <p>Manufacturer:&nbsp{{ EquipmentStock.manufacturer }}</p>
            <p>{{ EquipmentStock.description }}</p>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock content%}