<!-- templates/home.html-->
{% extends "base.html"%}

{% block content %}
<h1>The premier sound equipment rental specialists</h1>
<br />
<p>
    We are a one-stop source for sound and audiovisual equipment rental for live events in Johannesburg, South Africa. Whether your event is a corporate presentation of a new product, 
    or a live show bringing in significant talent to entertain your guests and fans, EventGearSauce has what you need to make your event a success!
</p>
<br />
<p>
    We also engage with industry specialists on your behalf, should you require that special touch to make your event extraordinary!
</p>
<br />
<h2><a href="{% url 'equipment_stock_list' %}">Equipment available for hire</a></h2>
{% endblock content%}